# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
usefull_resources
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.env
.idea
.DS_Store
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.prompts*
.aider*
.prettierrc
